<%= form_for [@bra, @bra_size] do |f| %>

  <div class="field">
  <%= f.label :label_size %>
  <%= f.text_field :label_size %>
</div>

<div class="field">
  <%= f.label :band_length %>
  <%= f.text_field :band_length %>
</div>

<div class="field">
  <%= f.label :stretched_band %>
  <%= f.text_field :stretched_band %>
</div>

<div class="field">
  <%= f.label :cup_width %>
  <%= f.text_field :cup_width %>
</div>

<div class="field">
  <%= f.label :cup_depth %>
  <%= f.text_field :cup_depth %>
</div>
<div class="field">
  <%= f.label :cup_separation %>
  <%= f.text_field :cup_separation %>
</div>

<div class="field">
  <%= f.label :gore_height %>
  <%= f.text_field :gore_height %>
</div>

<div class="field">
  <%= f.label :num_hooks %>
  <%= f.text_field :num_hooks %>
</div>

<div class="field">
  <%= f.label :rating_aesthetic %>
  <%= f.text_field :rating_aesthetic %>
</div>

<div class="field">
  <%= f.label :rating_comfort %>
  <%= f.text_field :rating_comfort %>
</div>

<div class="field">
  <%= f.label :rating_quality %>
  <%= f.text_field :rating_quality %>
</div>

<%= f.hidden_field :bra_id %>

  <%= f.submit %>

<% end %>
