<div class="bra clearfix">
  <img src="<%= bra.image_url %>">
  <p>Brand: <%= bra.brand %></p>
  <p>Model: <%= bra.model %></p>
  <p>Style: <%= bra.style %></p>
  <div class="actions">
    <% if @index %>
      <%= link_to "Details and sizes", bra %>
    <% end %>
    <%= link_to "Edit", edit_bra_path(bra) %>
    <%= link_to "Delete", bra_path(bra), method: 'delete' %>
    <%= link_to "Add new size", new_bra_bra_size_path([bra, @bra_size]) %>
  </div>
</div>
