<%= render @bra %>

<% @bra_sizes.each do |size| %>

  <div class="bra-size">
    <p>Label size: <%= size.label_size %></p>
    <p>Band length: <%= size.band_length %> in.</p>
    <p>Stretched band length: <%= size.stretched_band %> in.</p>
    <p>Cup width: <%= size.cup_width %> in.</p>
    <p>Cup depth: <%= size.cup_depth %> in.</p>
    <p>Cup separation: <%= size.cup_separation %> in.</p>
    <p>Gore height: <%= size.gore_height %> in.</p>
    <p>Number of hooks: <%= size.num_hooks %></p>
    <p>Aesthetic rating:
      <div class="rating">
        <% size.rating_aesthetic.times do %>
        <img class="star" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Gold_Star.svg/1000px-Gold_Star.svg.png">
        <% end %>
        <% (5 - size.rating_aesthetic).times do %></p>
          <img class="star" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Empty_Star.svg/1024px-Empty_Star.svg.png">
        <% end %>
      </div><br>
    <p>Comfort rating:</p>
    <div class="rating">
      <% size.rating_comfort.times do %>
      <img class="star" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Gold_Star.svg/1000px-Gold_Star.svg.png">
      <% end %>
      <% (5 - size.rating_comfort).times do %></p>
        <img class="star" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Empty_Star.svg/1024px-Empty_Star.svg.png">
      <% end %>
    </div><br>
    <p>Quality rating:
    <div class="rating">
      <% size.rating_quality.times do %>
      <img class="star" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Gold_Star.svg/1000px-Gold_Star.svg.png">
      <% end %>
      <% (5 - size.rating_quality).times do %></p>
        <img class="star" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Empty_Star.svg/1024px-Empty_Star.svg.png">
      <% end %>
    </div></p>
  </div>
<% end %>
